<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/src/error.jsp</location>
</error-page>
    <servlet>
        <servlet-name>efetuarCadastro</servlet-name>
        <servlet-class>controle.efetuarCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>esqueceuSenha</servlet-name>
        <servlet-class>controle.esqueceuSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Injector</servlet-name>
        <servlet-class>dbconnect.Injector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Author</servlet-name>
        <servlet-class>relational.Author</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Journal</servlet-name>
        <servlet-class>relational.Journal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JournalIssue</servlet-name>
        <servlet-class>relational.JournalIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeyWord</servlet-name>
        <servlet-class>relational.KeyWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeshHeading</servlet-name>
        <servlet-class>relational.MeshHeading</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubMedArticle</servlet-name>
        <servlet-class>relational.PubMedArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubType</servlet-name>
        <servlet-class>relational.PubType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Substance</servlet-name>
        <servlet-class>relational.Substance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaPtype</servlet-name>
        <servlet-class>controle.buscaPtype</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaRevista</servlet-name>
        <servlet-class>controle.buscaRevista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaEdicao</servlet-name>
        <servlet-class>controle.buscaEdicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaVolume</servlet-name>
        <servlet-class>controle.buscaVolume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarArtigo</servlet-name>
        <servlet-class>controle.cadastrarArtigo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controleLogin</servlet-name>
        <servlet-class>controle.controleLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaArtigo</servlet-name>
        <servlet-class>controle.buscaArtigo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaSubstancia</servlet-name>
        <servlet-class>controle.buscaSubstancia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaAvancada1</servlet-name>
        <servlet-class>controle.buscaAvancada1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaAvancada2</servlet-name>
        <servlet-class>controle.buscaAvancada2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaMesh</servlet-name>
        <servlet-class>controle.buscaMesh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarMesh</servlet-name>
        <servlet-class>controle.cadastrarMesh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaAvancada3</servlet-name>
        <servlet-class>controle.buscaAvancada3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaAvancada4</servlet-name>
        <servlet-class>controle.buscaAvancada4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarJournal</servlet-name>
        <servlet-class>controle.cadastrarJournal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alteraJournal</servlet-name>
        <servlet-class>controle.alteraJournal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>efetuarCadastro</servlet-name>
        <url-pattern>/src/efetuarCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaArtigo</servlet-name>
        <url-pattern>/src/buscaArtigo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Injector</servlet-name>
        <url-pattern>/Injector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Author</servlet-name>
        <url-pattern>/Author</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Journal</servlet-name>
        <url-pattern>/Journal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JournalIssue</servlet-name>
        <url-pattern>/JournalIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeyWord</servlet-name>
        <url-pattern>/KeyWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeshHeading</servlet-name>
        <url-pattern>/MeshHeading</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubMedArticle</servlet-name>
        <url-pattern>/PubMedArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubType</servlet-name>
        <url-pattern>/PubType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Substance</servlet-name>
        <url-pattern>/Substance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaPtype</servlet-name>
        <url-pattern>/src/buscaPtype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaRevista</servlet-name>
        <url-pattern>/src/buscaRevista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaEdicao</servlet-name>
        <url-pattern>/src/buscaEdicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>esqueceuSenha</servlet-name>
        <url-pattern>/src/esqueceuSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaVolume</servlet-name>
        <url-pattern>/src/buscaVolume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarArtigo</servlet-name>
        <url-pattern>/src/cadastrarArtigo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controleLogin</servlet-name>
        <url-pattern>/src/controleLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaSubstancia</servlet-name>
        <url-pattern>/src/buscaSubstancia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaAvancada1</servlet-name>
        <url-pattern>/src/buscaAvancada1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaAvancada2</servlet-name>
        <url-pattern>/src/buscaAvancada2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaMesh</servlet-name>
        <url-pattern>/src/buscaMesh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarMesh</servlet-name>
        <url-pattern>/src/cadastrarMesh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaAvancada3</servlet-name>
        <url-pattern>/src/buscaAvancada3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaAvancada4</servlet-name>
        <url-pattern>/src/buscaAvancada4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarJournal</servlet-name>
        <url-pattern>/src/cadastrarJournal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alteraJournal</servlet-name>
        <url-pattern>/src/alteraJournal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
</web-app>
